<div class="container">
  <!-- <h1>{{date}}</h1> -->

  <div class="row">
    <div class="col-xs-12">
      <ol>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur repellendus ipsam consequuntur dignissimos itaque quae quasi doloremque illo cum beatae?</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati necessitatibus nesciunt saepe, debitis quae voluptatibus.</li>
      </ol>
      <p>Use external or internal</p>
      <!-- <app-warning-alert></app-warning-alert> -->
      <hr>
      <!-- <app-success-alert></app-success-alert> -->
      <hr>
      <app-assignment3></app-assignment3>
    </div>
  </div>
</div>
